#Modulos de node
node_modules/

#build
build/

#Archivo de configuracion
build.xml

#Equemas de construccion
esquema.sql

#Funciones de configuracion
serve.sh
stop.sh

#Carpetas de construccion
dist/

/nbproject/private/